<footer>
    <div class="container">
        <div class="row">
            <div
                class="col-12 d-flex justify-content-center justify-content-md-between align-items-center pb-2 flex-column flex-md-row">
                <h2 class="logo">
                    Foodies
                </h2>
                <div class="app-buttons align-items-center justify-content-center flex-wrap d-flex">
                    <img src="/assets/ios-badge.png" class="img-fluid store-badge" alt="">
                    <img src="/assets/android-badge.png" class="img-fluid store-badge" alt="">
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row pt-2 pb-4">
            <div class="col-12 links d-flex flex-wrap justify-content-center justify-content-md-start">
                <a>Conoce nuestras sucursales</a>
                <a>Acerca de</a>
                <a>Conoce nuestras sucursales</a>
                <a>¿Qué hablan de nosotros?</a>
                <a>Contáctanos</a>
            </div>
        </div>
    </div>
</footer>