<div class="container app-section">
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="/assets/onboarding.png" class="img-fluid onboarding-image" alt="">
        </div>
        <div class="col-12 col-lg-6 text-center">
            <div class="row">
                <div class="col-12">
                    <div class="title text-center">
                        <p>Obten más beneficios</p>
                        <div class="title-highlight">
                            <p>Descarga nuestra App</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 benefits-container">
                    <div class="benefit text-center">
                        <div class="circle">01</div>
                        <p>
                            <b>Solicita rápido</b>
                        </p>
                        <p>
                            Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna aliquet
                            ultricies.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 benefits-container">
                    <div class="benefit text-center">
                        <div class="circle">02</div>
                        <p>
                            <b>Fácil de Usar</b>
                        </p>
                        <p>
                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-3 benefits-container">
                    <div class="benefit text-center">
                        <div class="circle">03</div>
                        <p>
                            <b>Promociones especiales</b>
                        </p>
                        <p>
                            Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna aliquet
                            ultricies.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>