@import "src/styles/variables";
.thank-you-container {
  color: $white;

  .title {
    font-family: $title-font;
    font-size: 30px;
  }

  .submit-button {
    position: relative;
    color: $black;
    outline: 0;
    background: $highlight-yellow;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;

    &:before {
      content: "";
      position: absolute;
      background: darken($highlight-yellow, 10%);
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      -webkit-transition: top 0.09s ease-in;
    }

    &:hover:before {
      top: 0;
    }
  }

  .subtitle {
    font-size: 18px;
  }
}
