<div class="row thank-you-container text-center">
    <div class="col-12">
        <img src="/assets/mail-sent.png" class="img-fluid" alt="">
        <p class="title">
            Gracias por tus comentarios
        </p>
        <p class="subtitle">
            Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.
        </p>
        <button type="button" class="btn btn-large submit-button"
            (click)="redirectMenu()"><b>Conoce nuestro menu</b></button>
    </div>
</div>