<div class="container-fluid page-header">
    <div class="row">
        <div class="container">
            <!-- Menu -->
            <div class="row">
                <div class="col-12">
                    <app-navbar></app-navbar>
                </div>
            </div>
            <!-- Hero -->
            <div class="row my-4 py-2 d-flex flex-column flex-sm-row-reverse hero-row">
                <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
                    <img src="/assets/hero_hamburger.png" alt="" class="img-fluid hero-image">
                </div>
                <div class="col-12 col-sm-6 d-flex flex-column 
                    justify-content-center align-items-center align-items-md-start">
                    <div class="title d-block d-sm-none">
                        <p>Un nuevo</p>
                        <p>sabor está en</p>
                        <div class="title-highlight">
                            <p>la ciudad</p>
                        </div>
                    </div>
                    <div class="title d-none d-sm-block">
                        <p>Un nuevo</p>
                        <p>sabor está</p>
                        <div class="title-highlight">
                            <p>en la ciudad</p>
                        </div>
                    </div>
                    <p class="content">
                        Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.
                    </p>
                    <div class="subtitle d-flex flex-row align-items-center">
                        <span>Encuentranos</span>
                        <div class="arrow-icon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Quien es Foodies -->
    <div class="row my-4 py-2 d-flex flex-row who-section">
        <div class="col-12 col-lg-6 column-bg">
            &nbsp;
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center content-column">
            <p class="subtitle"><b>¿Quién es Foodies?</b></p>
            <p class="content">
                Elit irure ad nulla id elit laborum nostrud mollit irure. Velit reprehenderit sunt nulla enim aliquip
                duis tempor est culpa fugiat consequat culpa consectetur Lorem. Reprehenderit dolore culpa irure eiusmod
                minim occaecat et id minim ullamco.
            </p>
            <div class="subtitle d-flex flex-row align-items-center">
                <span>Contáctanos</span>
                <div class="arrow-icon"></div>
            </div>
        </div>
    </div>
    <!-- Locations -->
    <app-locations></app-locations>
</div>
<app-testimonials></app-testimonials>
<app-contact></app-contact>
