<div class="navbar-container" [class.dark]="dark">
    <!-- [class.dark]="dark" -->
    <!--  [class.--opened]="mobileOpened" -->
    <nav class="navbar navbar-expand-lg" [class.navbar-light]="!dark" [class.navbar-dark]="dark">
        <a class="navbar-brand home-link" href="#">Foodies</a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenuOpened()">
            <span class="my-1 mx-2 close" style="color:black;">X</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click)="redirect('')">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/menu']" href="#">Menú</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="redirect('')">Restaurantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="redirect('')">Contáctanos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>